@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

* {
    margin: 0;
    padding: 0;
}

.sizing img {
    width: 18rem;
}

.sizing {
    background-color: #880E4F;
    height: 80px;
}

.leftBox {
    display: flex;
    flex-direction: row;
}

.teste {
    height: 5rem;
    text-align: center;
    align-items: center;
    padding-right: 80px;
    width: 100vw;
    display: flex;
}

.navMenu {
    display: block;
    width: 100%;
}

.navMenu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navMenu li {
    padding-top: 15px;
}

.navMenu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: 'Jost', sans-serif;
}

.navMenu a:hover {
    color: #b4b1b1;
    transition: 0.4s;
}

.newBox {
    align-items: center;
    text-align: center;
}


.welcome h1 {
    font-family: 'Jost', sans-serif;
    font-size: 6rem;
    font-style: normal;
    font-weight: 400;

    color: #b3496c;

    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);

    margin-top: 5rem;
}

.carousel img {
    border: 3px solid #880E4F;
    border-radius: 5px;
}

.carrosel h2 {
    font-family: 'Jost', sans-serif;
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;

    color: #b3496c;

    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

.carrosel {
    margin-top: 2rem;
}

.imgCarossel {
    width: 30rem;
}

.boxInit {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.boxInit h4 {
    margin-top: 22rem;
    text-align: center;
    color: #b3496c;
    font-family: 'Jost', sans-serif;
    font-weight: 600;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.8);
    background-color: #FAB2C6;
    width: 33rem;
}

button {
    font-weight: 600;
    margin-top: 1rem;
    border: 1px solid #fff;

}

.helloPeople {
    background-image: url('src/assets/images/duo.png');
    background-repeat: no-repeat;
    background-position-x: left;
    margin-top: 4rem;
}

.sobre {
    margin-top: 10rem;
}

.boxAbout {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.boxAbout h4 {
    font-family: 'Jost', sans-serif;
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    text-align: center;

    color: #b3496c;

    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

.boxAbout p {
    text-align: justify;
    font-weight: 600;
    font-size: 1.4rem;
    font-family: 'Jost', sans-serif;
}

.textAbout {
    margin-top: 10rem;
}

.interactiveAbout img {
    width: 35rem;
    padding-bottom: 10rem;
}

.footer {
    bottom: 0;
    width: 100%;
}