<div class="main">
    <div class="leftBox">
        <div class="sizing">
            <img class="logoSize" src="assets/images/Logo.png/" alt="">
        </div>
        <mat-toolbar color="accent" class="teste">
            <mat-toolbar-row fxLayout="row" fxLayoutAlign="start center">
                <span class="navMenu">
                    <ul>
                        <li>
                            <a routerLink="/">Agendamento</a>
                        </li>
                        <li>
                            <a routerLink="/about">Sobre</a>
                        </li>
                        <li>
                            <a routerLink="/contact">Cursos</a>
                        </li>
                        <li>
                            <a routerLink="/contact">WhatsApp</a>
                        </li>
                        <li>
                            <a routerLink="/contact">Localização</a>
                        </li>
                    </ul>
                </span>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
    <div class="newBox">
        <div class="welcome">
            <h1>Seja Bem-Vindo!</h1>
        </div>

        <div class="boxInit">
            <div class="helloPeople">
                <h4>  Já nos conhece e deseja entrar em contato direto?<br>
                clique no botão abaixo.</h4>

                <button mat-flat-button color="accent">Entrar em contato</button>
            </div>

            <div class="carrosel">

                <h2>Novidades</h2>

                <carousel class="carousel">
                    <slide class="carousel-item active">
                        <img class="imgCarossel" src="../assets/images/image1.png" alt="Imagem 1">
                    </slide>
                    <slide class="carousel-item">
                        <img class="imgCarossel" src="../assets/images/image2.png" alt="Imagem 2">
                    </slide>
                    <slide class="carousel-item">
                        <img class="imgCarossel" src="../assets/images/image3.png" alt="Imagem 3">
                    </slide>
                </carousel>       
            </div>
        </div>
    </div>

    <div class="sobre">
        <div class="boxAbout">
            <div class="textAbout">
                <h4>Sobre Nós</h4>

                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum,<br> minima amet nisi ab eum recusandae asperiores, officiis nobis laudantium <br> aliquam error, in tempora aperiam. Mollitia <br> nemo corporis incidunt. Aliquid, reprehenderit!
                Lorem ipsum, <br> dolor sit amet consectetur adipisicing elit. <br> Quas neque autem voluptate id doloribus a rem maxime in eveniet, <br> accusamus similique, iusto beatae consequuntur quibusdam <br> expedita, sunt eum recusandae. A!</p>
            </div>
            <div class="interactiveAbout">
                <img class="imageAbout" src="../assets/images/duo2.png" alt="">
            </div>
        </div>
    </div>

    <div class="footer">
        <app-footer></app-footer>
    </div>
</div>